<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>NewCraft Quickstart Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="http://development.newcraft-dev.com:8080/build/development/nc-connect.js"></script>
    <link rel="shortcut icon" type="image/png" href="icon.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="scss/main.css">
    <style type="text/css">
      a {
        color: #6236fe;
      }
    </style>
  </head>

  <body>
    <main id="app" class="container">
      <div class="jumbotron jumbotron-fluid bg-white pb-2 mb-2">
        <div class="container">
          <h1 class="display-5 font-weight-light">NewCraft Quickstart - <b>Ruby</b></h1>
          <p class="lead">Get up and running with NewCraft Connect and the API in minutes.</p>
          <hr class="my-4">
          <p class="get_token_btn" @click.prevent="getConnectToken('<%= @company_name %>', '<%= @authenticator_env %>')">
            <span v-if="submittingConnect" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Connect
          </p>
          <p class="already_have_token" @click.prevent="addAccessToken">Already have Access Token?</p>

          <form v-show="addingToken || credentialsAdded" class="get_token_form">
            <input v-model="access_token" type="text" placeholder="Access Token" />
          </form>

          <button v-show="credentialsAdded" class="greenBtn" disabled>Credentials Added <small>You can send requests now</small></button>

          <br/>
          <p>
            Choose one of the endpoints below to start exploring NewCraft's API
          </p>
        </div>
      </div>

      <b-modal class="modal_main__modal" ref="my-modal" hide-footer hide-header size="xl">
        <section v-if="employeesModal" class="modal_contents-container">
          <header>
            Employees Modal
          </header>
        </section>
        <section v-else-if="jobsModal">
          <%= erb :'modals/jobs' %>
        </section>
        <section v-else-if="payrollsModal">
          Payrolls Modal
        </section>
      </b-modal>

      <b-tabs content-class="mt-3">
        <b-tab title="Employees" active @click.prevent="swapTab('employees')">
          <div class="tab-pane fade show active" id="employees-tab">
            <%= erb :endpoint_item, locals: { method: "GET", endpoint: "/employees/get", panel_target: "employees-get-panel", table_partial: 'tables/employees_table', record: 'employees' } %>
          </div>
        </b-tab>
        <b-tab title="Jobs" @click.prevent="swapTab('jobs')">
          <div class="tab-pane fade show active" id="orgs-tab">
            <%= erb :endpoint_item, locals: { method: "GET", endpoint: "/jobs/get", panel_target: "orgs-get-panel", table_partial: 'tables/jobs_table', record: 'jobs' } %>
          </div>
        </b-tab>
        <b-tab title="Payrolls" @click.prevent="swapTab('payrolls')">
          <div class="tab-pane fade show active" id="payrolls-tab">
            <%= erb :endpoint_item, locals: { method: "GET", endpoint: "/payrolls/get", panel_target: "payrolls-get-panel", table_partial: 'tables/payrolls_table', record: 'payrolls' } %>
          </div>
        </b-tab>
      </b-tabs>

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js" integrity="sha512-53CQcu9ciJDlqhK7UD8dZZ+TF2PFGZrOngEYM/8qucuQba+a+BXOIRsp9PoMNJI3ZeLMVNIxIfZLbG/CdHI5PA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.18.1/bootstrap-vue.min.js" integrity="sha512-EjDLjOtxOuNZDwpjHHPa4VAIomVXXv9gIGVuO/+smw04V8oIqhbuC/K1WTnr9k2YB30eltq2tiV3smzH1x9vuA==" crossorigin="anonymous"></script>
    <script src="js/vue.js"></script>
  </body>
</html>
