<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>NewCraft Quickstart Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://connect.newcraft.io/sandbox/nc-connect.js"></script>
    <!-- <script src="http://development.newcraft-dev.com:8080/build/development/nc-connect.js"></script> -->
    <link rel="shortcut icon" type="image/png" href="icon.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="scss/main.css">      
  </head>

  <body>
    <main id="app" class="container">
      <div class="jumbotron jumbotron-fluid bg-white pb-2 mb-2">
        <div class="container">
          <h1 class="display-5 font-weight-light">NewCraft Quickstart - <b>Ruby</b></h1>
          <p class="lead">Get up and running with NewCraft Connect and the API in minutes.</p>
          <hr class="my-4">
          <p class="get_token_btn" @click.prevent="getConnectToken('<%= @company_name %>')">
            <span v-if="submittingConnect" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Connect
          </p>
          <p class="already_have_token" @click.prevent="addAccessToken">Already have Access Token?</p>

          <form v-show="addingToken || credentialsAdded" class="get_token_form">
            <input v-model="access_token" type="text" placeholder="Access Token" />
          </form>

          <button v-show="credentialsAdded" class="greenBtn" disabled>Credentials Added <small>You can send requests now</small></button>

          <br/>
          <p>
            Choose one of the endpoints below to start exploring NewCraft's API
          </p>
        </div>
      </div>
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a href="#employees-tab" class="nav-link active" data-toggle="tab">Employees</a>
        </li>
        <li class="nav-item">
          <a href="#jobs-tab" class="nav-link" data-toggle="tab">Jobs</a>
        </li>
        <li class="nav-item">
          <a href="#payrolls-tab" class="nav-link" data-toggle="tab">Payrolls</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="employees-tab">
          <%= erb :endpoint_item, locals: { method: "GET", endpoint: "/employees/get", panel_target: "employees-get-panel", table_partial: 'tables/employees_table', record: 'employees' } %>
        </div>
        <div class="tab-pane fade" id="jobs-tab">
          <%= erb :endpoint_item, locals: { method: "GET", endpoint: "/jobs/get", panel_target: "jobs-get-panel", table_partial: 'tables/jobs_table', record: 'jobs' } %>
        </div>
        <div class="tab-pane fade" id="orgs-tab">
          <%= erb :endpoint_item, locals: { method: "GET", endpoint: "/orgs/get", panel_target: "orgs-get-panel", table_partial: 'tables/orgs_table', record: 'orgs' } %>
        </div>
        <div class="tab-pane fade" id="payrolls-tab">
          <%= erb :endpoint_item, locals: { method: "GET", endpoint: "/payrolls/get", panel_target: "payrolls-get-panel", table_partial: 'tables/payrolls_table', record: 'payrolls' } %>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
